{% extends 'base/head.html' %} 
{% load static %} 
{% block link %}
<link rel="stylesheet" href="{% static 'notes/activities.css' %}" />
{% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> {% endcomment %}
{% endblock %}

{% block content %}
<div id="attemps_one">
    <div class="el-totall">
      <section class="container">
        <div class="heading">
          <img
            class="heading__img"
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/laptop.svg"
          />
          <h1 class="heading__title">Create Activities</h1>
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
        </div>  

        <form class="form" action="{% url 'notes:activities' %}" method="POST">
          {% csrf_token %}
          <div>
            <label class="form__label" for="todo"></label>
            {% comment %} <input type="text" name="act_user_id" placeholder="naa"/> {% endcomment %}
            <input
              class="form__input"
              type="dtext"
              id="todo"
              name="act_name"
              placeholder="Name"
              size="30"
              required
            />
            <select class="form__input" name="act_category">
              <option selected>Category</option>
              <option value="Ciencias basicas">Ciencias basicas</option>
              <option value="Proyecto">Proyecto</option>
              <option value="Teorico-Practico">Teorico-Practico</option>
            </select>
            <input
              class="form__input"
              type="date"
              id="todo"
              name="act_date_delivery"
              size="30"
              required
            />
            <input
              class="form__input"
              type="text"
              id="todo"
              name="act_score"
              size="30"
              placeholder="Score"
              required
            />
            <select class="form__input" name="act_priority">
              <option selected>Priority</option>
              <option value="Alta">Alta</option>
              <option value="Media">Media</option>
              <option value="Baja">Baja</option>
            </select>
            <textarea 
              class="form__input"
              type="text"
              id="todo"
              name="act_description"
              required
            >
            </textarea>
            <button class="button"><span>Submit</span></button>
          </div>
        </form>
        <div>
          <ul class="toDoList"></ul>
        </div>
      </section>

      <div class="content_activities">

        <div class="line1_cards">
          
          <div class="list-box">
            <a href="#m1-o" id="modal-closed">
              <div class="notes-button">
                <a href="#m1-o" id="modal-closed" class="link-notes"><button class="btn_notes">Save Activities</button></a>
              </div>
              <ul class="list-box__list">
                <li> <span style="font-weight: bold;font-size:19px;">Materias:</span></li>
                <li> Calculo 1</li>
                <li> Telecomunicaciones </li>
              </ul>  
              </ul>
            </a>  
          </div>
        </div> 

      </div>

    </div>

    <div class="modal-container" id="m1-o" >
      <div class="modal">
        <h1 class="modal__title">Activities</h1>
        <div>
          
          {% for activity in act%}
              <div class="card-container-1">
                <div class="photo-container">
                  <div class="date">
                    <div class="month">{{ activity.act_date_delivery|date:"Y-m-d" }}</div>
                    {% comment %} <div class="month">{{ activity.act_name }}</div> {% endcomment %}
                  </div>
                  <div class="image"></div>
                </div>
                <div class="info-container">
                  <div class="event-name">
                    <h3>{{ activity.act_name }}</h3> <p class="c-t-basic"><span>{{ activity.act_priority }}</span></p>
                  </div>
                  <div class="event-location">
                    <p>{{ activity.act_description }}</p>
                    <p><span class="el-score">Score:</span>{{ activity.act_score }}</p>
                  </div>
                  <div class="buttons">
                    <button class="btn_notes_edit" id="btn_notes_edit">Edit</button>
                    <button class="btn_notes_edit">Delete</button>
                  </div>  
                  {% comment %} MODAL EDIT {% endcomment %}
                  <div class="modal_edit" id="modal_edit">
                    <div class="card">
                      <h2>Edit Activitie</h2>
                      <!-- FORMULAIRE -->
                      <form method="POST" action="{% url 'notes:activities_update' %}" class="form_edit">
                        {% csrf_token %}
                        <input type="text" name="act_name" maxlength="255" required="" id="id_docu_title"  value="{{activity.act_name}}">
                        <select  name="act_category">
                          <option {% if activity.act_category == 'Ciencias basicas' %} selected {% endif %} value="Ciencias basicas">Ciencias basicas</option>
                          <option {% if activity.act_category == 'Proyecto' %} selected {% endif %} value="Proyecto">Proyecto</option>
                          <option {% if activity.act_category == 'Teorico-Practico'%} selected {% endif %}  value="Teorico-Practico">Teorico-Practico</option>;
                        </select>
                        <input type="text" name="act_score" maxlength="255" required="" id="id_docu_title" value="{{activity.act_score}}">
                        <select  name="act_priority">
                          <option {% if activity.act_priority == 'Alta' %} selected {% endif %} value="Alta">Alta</option>
                          <option {% if activity.act_priority == 'Media' %} selected {% endif %} value="Media">Media</option>
                          <option {% if activity.act_priority == 'Baja'%} selected {% endif %}  value="Baja">Baja</option>;
                        </select>
                        <input type="date" name="act_date_delivery" maxlength="255" required="" id="id_docu_title" value="{{ activity.act_date_delivery|date:"Y-m-d" }}">
                        <textarea name="act_description" cols="40" rows="10" maxlength="255" required="" id="id_docu_description">{{ activity.act_description }}</textarea>
                        <button type="button" class="login_btn">Edit</button>
                      </form>  
                      <button class="close"> &times;</button>
                    </div>
                  </div>

                </div>

              </div> 
          {% endfor %}  
        </div>    

        <a href="#m1-c" class="link-2"></a>
      </div>
    </div>




</div>
{% endblock %}
{% block script %}
<script src="{% static 'notes/home-user.js' %}"></script> 
<script src="{% static 'notes/activities.js' %}"></script>
{% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> {% endcomment %}
{% endblock %}
