{% extends 'base/head.html' %} 
{% load static %} 
{% block link %}
<link rel="stylesheet" href="{% static 'notes/activities.css' %}" />
{% endblock %}

{% block content %}
<div id="attemps_one">
    <div class="el-totall">
      <section class="container">
        <div class="heading">
          <img
            class="heading__img"
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/laptop.svg"
          />
          <h1 class="heading__title">Create Activitie</h1>
        </div>
        <form class="form" action="" method="">
          <div>
            <label class="form__label" for="todo"></label>
            <input type="hidden" id="itemIdInput" name="itemId" />
            <select class="form__input">
              <option>Category</option>
            </select>
            <input
              class="form__input"
              type="date"
              id="todo"
              name="to-do"
              size="30"
              required
            />
            <input
              class="form__input"
              type="text"
              id="todo"
              name="to-do"
              size="30"
              placeholder="Score"
              required
            />
            <select class="form__input">
              <option select>Priority</option>
            </select>
            <input
              class="form__input"
              type="text"
              id="todo"
              name="to-do"
              size="30"
              placeholder="Description"
              required
            />
            <button class="button"><span>Submit</span></button>
          </div>
        </form>
        <div>
          <ul class="toDoList"></ul>
        </div>
      </section>

      <div class="content_activities">
        <div class="line1_cards">
          <div class="list-box">
            <a href="#m1-o" id="modal-closed">
              <div class="notes-button">
                <button class="btn_notes"><a href="#m1-o" id="modal-closed" class="link-notes">Ciencias basicas</a></button>
              </div>
              <ul class="list-box__list">
                <li>Materias</li>
              </ul>
            </a>  
          </div>
          <div class="list-box">
            <a href="#m1-o" id="modal-closed">
              <div class="notes-button">
                <button class="btn_notes"><a href="#m2-o" id="modal-closed" class="link-notes">Proyecto</a></button>
              </div>
              <ul class="list-box__list">
                <li>Materias</li>
              </ul>
            </a>  
          </div>
          <div class="list-box">
            <a href="#m1-o" id="modal-closed">
              <div class="notes-button">
                <button class="btn_notes"><a href="#m3-o" id="modal-closed" class="link-notes">Teorico-Practico</a></button>
              </div>
              <ul class="list-box__list">
                <li>Materias</li>
              </ul>
            </a>  
          </div>
        </div>
        <div class="line2_cards">
          <div class="list-box">
            <a href="#m1-o" id="modal-closed">
              <div class="notes-button">
                <button class="btn_notes"><a href="#m4-o" id="modal-closed" class="link-notes">Undefined</a></button>
              </div>
              <ul class="list-box__list">
                <li>Materias</li>
              </ul>
            </a>  
          </div>
          <div class="list-box">
            <a href="#m1-o" id="modal-closed">
              <div class="notes-button">
                <button class="btn_notes"><a href="#m5-o" id="modal-closed" class="link-notes">Undifined</a></button>
              </div>
              <ul class="list-box__list">
                <li style="font-we">Materias</li>
              </ul>
            </a>  
          </div>
          <div class="list-box">
            <a href="#m1-o" id="modal-closed">
              <div class="notes-button">
                <button class="btn_notes"><a href="#m6-o" id="modal-closed" class="link-notes">Undefined</a></button>
              </div>
              <ul class="list-box__list">
                <li>Materias</li>
              </ul>
            </a>  
          </div>
        </div>  
      </div>

    </div>

    <div class="modal-container" id="m1-o" >
      <div class="modal">
        <h1 class="modal__title">Ciencias Basicas</h1>
        <div>
          <div class="card-container-1">
            <div class="photo-container">
              <div class="date">
                <div class="day">16</div>
                <div class="month">MAY</div>
              </div>
              <div class="image"></div>
            </div>
            <div class="info-container">
              <div class="event-name">
                Mason Day
              </div>
              <div class="event-location">
                See headlining artist: Soulja Boy
              </div>
            </div>
          </div>
          <div class="card-container-1">
            <div class="photo-container">
              <div class="date">
                <div class="day">22</div>
                <div class="month">MAY</div>
              </div>
              <div class="image"></div>
            </div>
            <div class="info-container">
              <div class="event-name">
                De-Stress Fest
              </div>
              <div class="event-location">
                De-stress before finals with puppies!
              </div>
            </div>
          </div>
        </div>    
        <button class="modal__btn">Button &rarr;</button>
        <a href="#m1-c" class="link-2"></a>
      </div>
    </div>
    <div class="modal-container" id="m2-o" >
      <div class="modal">
        <h1 class="modal__title">Proyecto</h1>
        <div>
          <div class="card-container-1">
            <div class="photo-container">
              <div class="date">
                <div class="day">16</div>
                <div class="month">MAY</div>
              </div>
              <div class="image"></div>
            </div>
            <div class="info-container">
              <div class="event-name">
                Mason Day
              </div>
              <div class="event-location">
                See headlining artist: Soulja Boy
              </div>
            </div>
          </div>
          <div class="card-container-1">
            <div class="photo-container">
              <div class="date">
                <div class="day">22</div>
                <div class="month">MAY</div>
              </div>
              <div class="image"></div>
            </div>
            <div class="info-container">
              <div class="event-name">
                De-Stress Fest
              </div>
              <div class="event-location">
                De-stress before finals with puppies!
              </div>
            </div>
          </div>
        </div>    
        <button class="modal__btn">Button &rarr;</button>
        <a href="#m1-c" class="link-2"></a>
      </div>
    </div>
    <div class="modal-container" id="m3-o" >
      <div class="modal">
        <h1 class="modal__title">Teorico-Practico</h1>
        <div>
          <div class="card-container-1">
            <div class="photo-container">
              <div class="date">
                <div class="day">16</div>
                <div class="month">MAY</div>
              </div>
              <div class="image"></div>
            </div>
            <div class="info-container">
              <div class="event-name">
                Mason Day
              </div>
              <div class="event-location">
                See headlining artist: Soulja Boy
              </div>
            </div>
          </div>
          <div class="card-container-1">
            <div class="photo-container">
              <div class="date">
                <div class="day">22</div>
                <div class="month">MAY</div>
              </div>
              <div class="image"></div>
            </div>
            <div class="info-container">
              <div class="event-name">
                De-Stress Fest
              </div>
              <div class="event-location">
                De-stress before finals with puppies!
              </div>
            </div>
          </div>
        </div>    
        <button class="modal__btn">Button &rarr;</button>
        <a href="#m1-c" class="link-2"></a>
      </div>
    </div>

    <div class="modal-container" id="m4-o" >
      <div class="modal">
        <h1 class="modal__title">Undefined</h1>
        <div>
          <div class="card-container-1">
            <div class="photo-container">
              <div class="date">
                <div class="day">16</div>
                <div class="month">MAY</div>
              </div>
              <div class="image"></div>
            </div>
            <div class="info-container">
              <div class="event-name">
                Mason Day
              </div>
              <div class="event-location">
                See headlining artist: Soulja Boy
              </div>
            </div>
          </div>
          <div class="card-container-1">
            <div class="photo-container">
              <div class="date">
                <div class="day">22</div>
                <div class="month">MAY</div>
              </div>
              <div class="image"></div>
            </div>
            <div class="info-container">
              <div class="event-name">
                De-Stress Fest
              </div>
              <div class="event-location">
                De-stress before finals with puppies!
              </div>
            </div>
          </div>
        </div>    
        <button class="modal__btn">Button &rarr;</button>
        <a href="#m1-c" class="link-2"></a>
      </div>
    </div>

    <div class="modal-container" id="m5-o" >
      <div class="modal">
        <h1 class="modal__title">Undefined</h1>
        <div>
          <div class="card-container-1">
            <div class="photo-container">
              <div class="date">
                <div class="day">16</div>
                <div class="month">MAY</div>
              </div>
              <div class="image"></div>
            </div>
            <div class="info-container">
              <div class="event-name">
                Mason Day
              </div>
              <div class="event-location">
                See headlining artist: Soulja Boy
              </div>
            </div>
          </div>
          <div class="card-container-1">
            <div class="photo-container">
              <div class="date">
                <div class="day">22</div>
                <div class="month">MAY</div>
              </div>
              <div class="image"></div>
            </div>
            <div class="info-container">
              <div class="event-name">
                De-Stress Fest
              </div>
              <div class="event-location">
                De-stress before finals with puppies!
              </div>
            </div>
          </div>
        </div>    
        <button class="modal__btn">Button &rarr;</button>
        <a href="#m1-c" class="link-2"></a>
      </div>
    </div>

    <div class="modal-container" id="m6-o" >
      <div class="modal">
        <h1 class="modal__title">Undefined</h1>
        <div>
          <div class="card-container-1">
            <div class="photo-container">
              <div class="date">
                <div class="day">16</div>
                <div class="month">MAY</div>
              </div>
              <div class="image"></div>
            </div>
            <div class="info-container">
              <div class="event-name">
                Mason Day
              </div>
              <div class="event-location">
                See headlining artist: Soulja Boy
              </div>
            </div>
          </div>
          <div class="card-container-1">
            <div class="photo-container">
              <div class="date">
                <div class="day">22</div>
                <div class="month">MAY</div>
              </div>
              <div class="image"></div>
            </div>
            <div class="info-container">
              <div class="event-name">
                De-Stress Fest
              </div>
              <div class="event-location">
                De-stress before finals with puppies!
              </div>
            </div>
          </div>
        </div>    
        <button class="modal__btn">Button &rarr;</button>
        <a href="#m1-c" class="link-2"></a>
      </div>
    </div>

</div>
{% endblock %}
{% block script %}
<script src="{% static 'notes/home-user.js' %}"></script> 
{% endblock %}
