{% extends 'base/head.html' %} 
{% load static %} 
{% block link %}
<link rel="stylesheet" href="{% static 'notes/activities.css' %}" />
{% endblock %}

{% block content %}
<div id="attemps_one">
    <div class="el-totall">
      <section class="container">
        <div class="heading">
          <img
            class="heading__img"
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/laptop.svg"
          />
          <h1 class="heading__title">Create Activities</h1>
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
        </div>  

        <form class="form" action="{% url 'notes:activities' %}" method="POST">
          {% csrf_token %}
          <div>
            <label class="form__label" for="todo"></label>
            {% comment %} <input type="text" name="act_user_id" placeholder="naa"/> {% endcomment %}
            <input
              class="form__input"
              type="dtext"
              id="todo"
              name="act_name"
              placeholder="Name"
              size="30"
              required
            />
            <select class="form__input" name="act_category">
              <option selected>Category</option>
              <option value="Ciencias basicas">Ciencias basicas</option>
              <option value="Proyecto">Proyecto</option>
              <option value="Teorico-Practico">Teorico-Practico</option>
            </select>
            <input
              class="form__input"
              type="date"
              id="todo"
              name="act_date_delivery"
              size="30"
              required
            />
            <input
              class="form__input"
              type="text"
              id="todo"
              name="act_score"
              size="30"
              placeholder="Score"
              required
            />
            <select class="form__input" name="act_priority">
              <option selected>Priority</option>
              <option value="Alta">Alta</option>
              <option value="Media">Media</option>
              <option value="Baja">Baja</option>
            </select>
            <textarea 
              class="form__input"
              type="text"
              id="todo"
              name="act_description"
              required
            >
            </textarea>
            <button class="button"><span>Submit</span></button>
          </div>
        </form>
        <div>
          <ul class="toDoList"></ul>
        </div>
      </section>

      <div class="content_activities">
        <div class="line1_cards">
          <div class="list-box">
            <a href="#m1-o" id="modal-closed">
              <div class="notes-button">
                <a href="#m1-o" id="modal-closed" class="link-notes"><button class="btn_notes">Ciencias basicas</button></a>
              </div>
              <ul class="list-box__list">
                <li> <span style="font-weight: bold;font-size:19px;">Calculo 1</span></li>

              </div>
              {% comment %} {% for el in act %}
                <p>{{ el.act_name }}</p>
              {% endfor %} {% endcomment %}
              
            <div>
              </ul>
            </a>  
          </div>
          <div class="list-box">
            <a href="#m1-o" id="modal-closed">
              <div class="notes-button">
                <a href="#m2-o" id="modal-closed" class="link-notes"> <button class="btn_notes">Proyecto</button></a>
              </div>
              <ul class="list-box__list">
                <li> <span style="font-weight: bold;font-size:19px;">Materias</span></li>
              </ul>
            </a>  
          </div>
          <div class="list-box">
            <a href="#m1-o" id="modal-closed">
              <div class="notes-button">
                <a href="#m3-o" id="modal-closed" class="link-notes"><button class="btn_notes">Teorico-Practico</button></a>
              </div>
              <ul class="list-box__list">
                <li> <span style="font-weight: bold;font-size:19px;">Materias</span></li>
              </ul>
            </a>  
          </div>
        </div>
        <div class="line2_cards">
          <div class="list-box">
            <a href="#m1-o" id="modal-closed">
              <div class="notes-button">
                <a href="#m4-o" id="modal-closed" class="link-notes"><button class="btn_notes">Undefined</button></a>
              </div>
              <ul class="list-box__list">
                <li> <span style="font-weight: bold;font-size:19px;">Materias</span></li>
              </ul>
            </a>  
          </div>
          <div class="list-box">
            <a href="#m1-o" id="modal-closed">
              <div class="notes-button">
                <a href="#m5-o" id="modal-closed" class="link-notes"><button class="btn_notes">Undifined</button></a>
              </div>
              <ul class="list-box__list">
                <li> <span style="font-weight: bold;font-size:19px;">Materias</span></li>
              </ul>
            </a>  
          </div>
          <div class="list-box">
            <a href="#m1-o" id="modal-closed">
              <div class="notes-button">
                <a href="#m6-o" id="modal-closed" class="link-notes"><button class="btn_notes">Undefined</button></a>
              </div>
              <ul class="list-box__list">
                <li> <span style="font-weight: bold;font-size:19px;">Materias</span></li>
              </ul>
            </a>  
          </div>
        </div>  
      </div>

    </div>

    <div class="modal-container" id="m1-o" >
      <div class="modal">
        <h1 class="modal__title">Ciencias Basicas</h1>
        <div>
          
          {% for activity in act%}
            {% if activity.act_category == 'Ciencias basicas' %}
              <div class="card-container-1">
                <div class="photo-container">
                  <div class="date">
                    <div class="month">{{ activity.act_date_delivery|date:"Y-m-d" }}</div>
                    {% comment %} <div class="month">{{ activity.act_name }}</div> {% endcomment %}
                  </div>
                  <div class="image"></div>
                </div>
                <div class="info-container">
                  <div class="event-name">
                    <h3>{{ activity.act_name }}</h3> <p class="c-t-basic"><span>{{ activity.act_priority }}</span></p>
                  </div>
                  <div class="event-location">
                    <p>{{ activity.act_description }}</p>
                    <p><span class="el-score">Score:</span>{{ activity.act_score }}</p>
                  </div>
                  <div class="buttons">
                    <button class="btn_notes_edit" id="btn_notes_edit">Edit</button>
                    <button class="btn_notes_edit">Delete</button>
                  </div>  

                  {% comment %} MODAL EDIT {% endcomment %}

                  <div class="modal_edit" id="modal_edit">
                    <div class="card">
                      <h2>Edit Activitie</h2>
                      <!-- FORMULAIRE -->
                      <form method="POST" action="{% url 'notes:documents' %}" class="form">
                        {% csrf_token %}
                        <input type="text" name="act_name" maxlength="255" required="" id="id_docu_title"  value="{{activity.act_name}}">
                        <select  name="act_category">
                          <option {% if activity.act_category == 'Ciencias basicas' %} selected{% endif%} value="Ciencias basicas">Ciencias basicas</option>
                          <option {% if activity.act_category == 'Proyecto' %} selected {% endif %} value="Proyecto">Proyecto</option>
                          <option {% if activity.act_category == 'Teorico-Practico'%} selected {% endif%}  value="Teorico-Practico">Teorico-Practico</option>;
                        </select>
                        <input type="text" name="act_score" maxlength="255" required="" id="id_docu_title" value="{{activity.act_score}}">
                        <select  name="act_priority">
                          <option {% if activity.act_priority == 'Alta' %} selected{% endif%} value="Alta">Alta</option>
                          <option {% if activity.act_priority == 'Media' %} selected {% endif %} value="Media">Media</option>
                          <option {% if activity.act_priority == 'Baja'%} selected {% endif%}  value="Baja">Baja</option>;
                        </select>
                        <input type="date" name="docu_title" maxlength="255" required="" id="id_docu_title" value="{{ activity.act_date_delivery|date:"Y-m-d" }}">
                        <textarea name="" cols="40" rows="10" maxlength="255" required="" id="id_docu_description">{{ activity.act_description }}</textarea>
                        <button type="button" class="login_btn">Edit</button>
                      </form>  
                    <button class="close">&times;</button>
                  </div>

                </div>

              </div>
            {% endif %}  
          {% endfor %}  
        </div>    

        <a href="#m1-c" class="link-2"></a>
      </div>
    </div>

    <div class="modal-container" id="m2-o" >
      <div class="modal">
        <h1 class="modal__title">Proyecto</h1>
        <div>
          {% for element in act%}
            {% if element.act_category == 'Proyecto' %}
              <div class="card-container-1">
                <div class="photo-container">
                  <div class="date">
                    <div class="month">{{ element.act_date_delivery|date:"Y-m-d" }}</div>
                    {% comment %} <div class="month">{{ activity.act_name }}</div> {% endcomment %}
                  </div>
                  <div class="image"></div>
                </div>
                <div class="info-container">
                  <div class="event-name">
                    <h3>{{ element.act_name }}</h3> <p class="c-t-basic"><span>{{ element.act_priority }}</span></p>
                  </div>
                  <div class="event-location">
                    <p>{{ element.act_description }}</p>
                    <p><span class="el-score">Score:</span>{{ element.act_score }}</p>
                  </div>
                  <div class="buttons">
                    <a href="#m4-o" id="modal-closed" class="link-notes"><button class="btn_notes_edit">Edit</button></a>
                    <a href="#m4-o" id="modal-closed" class="link-notes"><button class="btn_notes_edit">Delete</button></a>
                  </div>
                </div>
              </div>
            {% endif %}      
          {% endfor %}  
        </div>   
        <a href="#m1-c" class="link-2"></a>
      </div>
    </div>

    <div class="modal-container" id="m3-o" >
      <div class="modal">
        <h1 class="modal__title">Teorico-Practico</h1>
        <div>
          {% for el in act %}
            {% if el.act_category == 'Teorico-Practico' %}
              <div class="card-container-1">
                <div class="photo-container">
                  <div class="date">
                    <div class="month">{{ el.act_date_delivery|date:"Y-m-d" }}</div>
                    {% comment %} <div class="month">{{ activity.act_name }}</div> {% endcomment %}
                  </div>
                  <div class="image"></div>
                </div>
                <div class="info-container">
                  <div class="event-name">
                    <h3>{{ el.act_name }}</h3> <p class="c-t-basic"><span>{{ el.act_priority }}</span></p>
                  </div>
                  <div class="event-location">
                    <p>{{ el.act_description }}</p>
                    <p><span class="el-score">Score:</span>{{ el.act_score }}</p>
                  </div>
                  <div class="buttons">
                    <a href="#m4-o" id="modal-closed" class="link-notes"><button class="btn_notes_edit">Edit</button></a>
                    <a href="#m4-o" id="modal-closed" class="link-notes"><button class="btn_notes_edit">Delete</button></a>
                  </div>
                </div>
              </div>
            {% endif %}  
          {% endfor %}  
        </div>    
        <a href="#m1-c" class="link-2"></a>
      </div>
    </div>

    <div class="modal-container" id="m4-o" >
      <div class="modal">
        <h1 class="modal__title">Undefined</h1>
        <div>
          <div class="card-container-1">
            <div class="photo-container">
              <div class="date">
                <div class="day">16</div>
                <div class="month">MAY</div>
              </div>
              <div class="image"></div>
            </div>
            <div class="info-container">
              <div class="event-name">
                Mason Day
              </div>
              <div class="event-location">
                See headlining artist: Soulja Boy
              </div>
            </div>
          </div>
          <div class="card-container-1">
            <div class="photo-container">
              <div class="date">
                <div class="day">22</div>
                <div class="month">MAY</div>
              </div>
              <div class="image"></div>
            </div>
            <div class="info-container">
              <div class="event-name">
                De-Stress Fest
              </div>
              <div class="event-location">
                De-stress before finals with puppies!
              </div>
            </div>
          </div>
        </div>    
        <button class="modal__btn">Button &rarr;</button>
        <a href="#m1-c" class="link-2"></a>
      </div>
    </div>

    <div class="modal-container" id="m5-o" >
      <div class="modal">
        <h1 class="modal__title">Undefined</h1>
        <div>
          <div class="card-container-1">
            <div class="photo-container">
              <div class="date">
                <div class="day">16</div>
                <div class="month">MAY</div>
              </div>
              <div class="image"></div>
            </div>
            <div class="info-container">
              <div class="event-name">
                Mason Day
              </div>
              <div class="event-location">
                See headlining artist: Soulja Boy
              </div>
            </div>
          </div>
          <div class="card-container-1">
            <div class="photo-container">
              <div class="date">
                <div class="day">22</div>
                <div class="month">MAY</div>
              </div>
              <div class="image"></div>
            </div>
            <div class="info-container">
              <div class="event-name">
                De-Stress Fest
              </div>
              <div class="event-location">
                De-stress before finals with puppies!
              </div>
            </div>
          </div>
        </div>    
        <button class="modal__btn">Button &rarr;</button>
        <a href="#m1-c" class="link-2"></a>
      </div>
    </div>

    <div class="modal-container" id="m6-o" >
      <div class="modal">
        <h1 class="modal__title">Undefined</h1>
        <div>
          <div class="card-container-1">
            <div class="photo-container">
              <div class="date">
                <div class="day">16</div>
                <div class="month">MAY</div>
              </div>
              <div class="image"></div>
            </div>
            <div class="info-container">
              <div class="event-name">
                Mason Day
              </div>
              <div class="event-location">
                See headlining artist: Soulja Boy
              </div>
            </div>
          </div>
          <div class="card-container-1">
            <div class="photo-container">
              <div class="date">
                <div class="day">22</div>
                <div class="month">MAY</div>
              </div>
              <div class="image"></div>
            </div>
            <div class="info-container">
              <div class="event-name">
                De-Stress Fest
              </div>
              <div class="event-location">
                De-stress before finals with puppies!
              </div>
            </div>
          </div>
        </div>    
        <button class="modal__btn">Button &rarr;</button>
        <a href="#m1-c" class="link-2"></a>
      </div>
    </div>

</div>
{% endblock %}
{% block script %}
<script src="{% static 'notes/home-user.js' %}"></script> 
<script src="{% static 'notes/activities.js' %}"></script>
{% endblock %}
