{% extends 'base/head.html' %} {% load static %} {% block link %}
<link rel="stylesheet" href="{% static 'notes/documents.css' %}" />
{% endblock %} {% block content %}

<div class="content_docu">
  <div class="form_docu">
    <div class="card">
      <h2>Save Documents</h2>
      <!-- FORMULAIRE -->
      <form method="POST" action="{% url 'notes:documents' %}" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Filename:</p>{{ form.docu_title }}
        <p>Description: </p> {{ form.docu_description }}
        <p>Link:</p>{{ form.docu_link }}
        <p>File:</p> {{ form.docu_file }}
        <p>Image:</p> {{ form.docu_image }}
        <input type="hidden" value="{{ request.session.user_id}" >
        <button class="login_btn">Save</button>
      </form>
    </div>
    </div>
  <div class="container_docu">
    <h2>Saved Documents</h2>
    <ul class="file-list">
      {% for element in document %}
      <li>
        <a href="#" target="_blank">
          <span class="thumb-nail"
            ><img
                 src="/{{ element.docu_image}}"
          /></span>
          <h3>{{element.docu_title}}</h3>
          <a href="{{ element.docu_link }}">Link document</a>
          {% if element.docu_file != '' %}
          <a href="{{element.docu_file.url}}">Download document</a>
          {% endif %}  
        </a>
         <button class="btn_notes_edit"><a href="delete/{{element.id}}">Delete</button></a>

      </li>
      {% endfor %}

   </ul>
  </div>
</div>

{% endblock %}
