  {% extends  'base/head.html' %}

    {% block content %}
      <section class="home" id="home">
        <div class="landing-page">
          <div class="content">
            <div class="container_home">
              <div class="info">
                <h1>The best applications for studying</h1>
                <p>Select the best application for you to enhance your studies</p>
                
                {% comment %} <button>Button name</button> {% endcomment %}
              </div>
              <div class="cards">
                <div class="list">
                  <div class="box"><div class="box-inner">1</div></div>
                  <div class="box"><div class="box-inner">2</div></div>
                  <div class="box"><div class="box-inner">3</div></div>
                  <div class="box"><div class="box-inner">4</div></div>
                  <div class="box"><div class="box-inner">5</div></div>
                </div>
                <div class="buttons_cards">
                  <div class="prev"> icon </div>
                  <div class="next"> icon </div>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </section>
    {% endblock %}

